@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */

html {
  -webkit-text-size-adjust: 100%;
  font-feature-settings: normal;
  font-family: Inter, ui-sans-serif, system-ui;
 -moz-tab-size: 4; 
 -o-tab-size: 4;
  tab-size: 4;
}
